{{!< default}}

{{! This is a post template. It displays a single post that the user selected from the home page template. }}
    

    {{! Everything inside the #post tags pulls data from the post }}
    {{#post}}

        {{#contentFor "meta"}}
            <meta property="og:title" content="{{title}} - {{#author}}{{name}}{{/author}}" />
            <meta property="og:site_name" content="{{@blog.title}}" />
            <meta property="og:type" content="article" />
            <meta property="og:description" content="{{meta_description}}"/>
            <meta property="og:image" content="{{@blog.url}}{{image}}">
            <meta property="article:author" content="{{facebook_url}}" />
            <meta property="article:published_time" content="{{date format="YYYY-MM-DD"}}" />
            {{#foreach tags}}<meta property="article:tag" content="{{name}}" />{{/foreach}}
            <meta property="fb:profile_id" content="mikenieva" />
            <meta property="fb:admins" content="2018940581663402" />
        {{/contentFor}}
    
    {{#if image}}
    <div class="image-overlay"></div>
    <div class="post-image" style="background-image:url({{image}})"></div>
    {{else}}
    <div class="no-image"></div>
    {{/if}}

    <div class="wrapper">
        <article class="{{post_class}}">
            
            <section class="post-content" {{#if tags}}style="margin-top:-60px;"{{/if}}>

                {{#if tags}}<div class="post-tags">{{tags separator="  "}}</div>{{/if}} 
                
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM D, YYYY"}}</time>

                <h1 class="post-title">{{{title}}}</h1>

                <div class="post-meta">
                    <span class="author">{{author}}</span>
                </div>

                <section class="post-content-output">{{content}}</section>

                <section class="share">
                    <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                        <i class="icon-facebook"></i> <span class="text">Share</span>
                    </a>
                    <a class="twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                        <i class="icon-twitter"></i> <span class="text">Tweet</span>
                    </a>
                    <a class="google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                        <i class="icon-google-plus"></i> <span class="text">+1</span>
                    </a>
                </section>

                <section class="author-meta clearfix">
                    {{#author}}
                        {{#if image}}
                        <a href="{{url}}">
                            <div class="author-image-wrapper">
                                <div class="author-image" style="background-image: url({{image}})"></div>
                            </div>
                        </a>
                        {{/if}}

                        {{#if image}}
                        <div class="author-bio">
                        {{else}}
                        <div class="author-bio" style="width: 90%;">
                        {{/if}}
                            <h3>{{name}}</h3>
                            {{#if bio}}
                                <p>{{bio}}</p>
                            {{/if}}
                            <p><a href="{{url}}">See more posts from {{name}}</a></p>
                        </div>
                    {{/author}}
                </section>

                <section class="read-next clearfix">
                    {{#prev_post}}
                    <a class="read-next-story prev" href="{{url}}">
                        <section class="post">
                            <h3>Previous Post</h3>
                            <h2>{{title}}</h2>
                        </section>
                    </a>
                    {{/prev_post}}
                    {{#next_post}}
                    <a class="read-next-story" href="{{url}}">
                        <section class="post">
                            <h3>Next Post</h3>
                            <h2>{{title}}</h2>
                        </section>
                    </a>
                    {{/next_post}}
                </section>

                {{#if @labs.subscribers}}
                <section class="subscribe clearfix">
                    <h3><strong>Never miss a post!</strong> Subscribe to our blog:</h3>
                    {{subscribe_form placeholder="email address"}}
                </section>
                {{/if}}

                <section class="comments">
                    <button class="show-comments">Show Comments</button>
                    <div id="disqus_thread"></div>
                </section>

            </section>
        </article>
        {{/post}}
 
    </div>