{{!< default}}

{{! This is a tag page template. It displays posts from a paticular tag }}


    {{#if tag.image}}
        <div class="image-overlay"></div>

        <header class="cover-photo" style="background-image: url({{tag.image}})">
        </header>
    {{else}}
        <div class="no-image"></div>
    {{/if}}

    <div class="wrapper page-meta">
        {{#tag}}
        <div class="page-stats">{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</div>
        {{/tag}}
        <h1>{{tag.name}}</h1>
        <h3>
            {{#if tag.description}} {{tag.description}} {{/if}} 
        </h3>
    </div>


    <div class="wrapper posts clearfix">
        {{#foreach posts}}
        <div class="{{post_class}}">
            <a href="{{url}}">                
                <div class="featured-image" {{#if image}} style="background-image:url({{image}})" {{else}} style="height: 225px; background: #3dc9b3;" {{/if}}>
                    <div class="overlay">
                        <div class="vertical">
                            <div class="read-more"><i class="icon-search"></i></div>
                        </div>
                    </div>
                </div>
                <section class="post-excerpt">
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM D"}}</time>              
                    <h2 class="post-title">
                        {{{title}}}
                    </h2>
                </section> 
            </a>
        </div>
        {{/foreach}}
    </div>

    {{!! Pagination links }}
    {{pagination}}
